$color-primary: red; /*placeholders */
$color-secondary: blue; /*placeholders */
$color-mid: rgba(250, 250, 250, 0.97); //#f9f8eb;
$color-dark: #532d1c;
$color-dark-font: #333333;
$color-black-transparent: rgba(0, 0, 0, 0.6);
$color-breadcrumb-background: #ebecf9;
$color-body-background: #ebecf9;
$color-body-font: #53350a;
$color-header-font: #3c2607;
$color-background: #f8f8ff;

//https://www.color-hex.com/color-palette/5361


$body-font: "Arial";
$header-font: "Boogaloo";
$title-font: "Boogaloo";
$footer-font: "Boogaloo";

.title {
  font-family: $title-font;
  font-size: 225%;
  color: $color-dark-font;
}

.logo {
  height: auto;
  width: 60px;
  //WHAT COLOR SHOULD LOGO BE?
  //filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(3813%)
    //hue-rotate(333deg) brightness(94%) contrast(97%);
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
  color: $color-dark-font;
}

body {
  font-family: $body-font;
  color: $color-body-font;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: $header-font;
  color:$color-dark-font
}

.card{
  h1,
  h2,
  h3 { 
    font-family: $header-font;
    color:white;
  }}

div {
  label {
    font-weight: bold;
  }
}

.card-img-top {
  height: 250px; // Need to fix this later
  width: auto;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  font-family: $footer-font;
  color: $color-dark-font;
}

.breadcrumb {
  background-color: $color-breadcrumb-background;
  font-family: $title-font;
  font-size: 25px;
}

.site-footer {
  background-color: $color-mid;
  padding: 20px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: $color-mid;
}

.nav-text {
  font-weight: bold;
  font-size: 80%;
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.carousel {
 ///CAROUSEL CSS GOES HERE
}
.bodySection {
  background-color: $color-body-background;
}
#takeUpSpace {
  height: 150px;
}
#takeUpLessSpace {
  height: 100px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}



#footerEmail {
  background-color: $color-mid;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
#indexBody {
  width: 100%;
}

.row1 {
  //background: url("../img/venus.png");
  background-color:#bae1ff;
}

.row2 {
  //background: url("../img/trappist.png");
  background-color: #ffffba;
}

.row3 {
  //background: url("../img/grand_tour.png");
  background-color: #baffc9;
}

.card {
  background-color: $color-black-transparent;
  color:white;
}

@media screen and (min-width: 1000px) {
  #takeUpSpace {
    height: 200px;
  }
  #takeUpLessSpace {
    height: 150px;
  }
}

.list-group-item {
  color:$color-dark-font
}
